.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  z-index: 2;
}

.modal__title {
  margin: 0 0 9px 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
  text-align: left;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal__close {
  background-color: transparent;
  background-image: url("../../assets/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  height: 0;
  width: 0;
  padding: 20px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  z-index: 3;
}

.modal__content {
  max-width: 358px;
  background-color: #fff;
  box-shadow: 0px 0px 25px 0px #00000026;
  position: relative;
  padding: 34px 36px 28px;
  width: 100%;
  border-radius: 16px;
}

.modal__label {
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #2f71e5;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal__input {
  display: block;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0;
  caret-color: #2f71e5;
}

.modal__input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.modal__input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}
.modal__input-error {
  visibility: hidden;
}

.modal__input-error_visible {
  color: #ff0000;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  font-family: "Inter", Arial, sans-serif;
  text-align: left;
  visibility: visible;
}

.modal__error {
  margin-top: 3px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  visibility: hidden;
}

.modal__error_visible {
  color: #ff0000;
  font-family: "Inter", Arial, sans-serif;
  text-align: center;
  visibility: visible;
}

.modal__submit {
  background-color: #2f71e5;
  box-shadow: 0px 5px 15px 0px #0e1a3933;
  border-style: none;
  border-radius: 100px;
  color: #fff;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 20px 115px;
  margin-top: 8px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: background-color 0.2s linear 0;
}

.modal__submit:hover:not([disabled]) {
  background-color: #347eff;
}

.modal__submit:active:not([disabled]) {
  background-color: #2a65cc;
}

.modal__submit_disabled {
  background-color: #e6e8eb;
  color: #b6bcbf;
  cursor: default;
}

.modal__span {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
}

.modal__or-button {
  background-color: transparent;
  border-style: none;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  font-weight: 400;
  text-align: center;
  color: #2f71e5;
  cursor: pointer;
}
