.page {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 720px;
  background-image: url(../../assets/Background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
