.nav {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 20px 104px;
  box-shadow: 0px -1px 0px 0px #ffffff33 inset;
}

.nav__sitename {
  font-size: 20px;
  font-family: "Roboto-Slab", "Courier New", Courier, monospace;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 10px 0;
  text-decoration: none;
}
.nav__links {
  display: flex;
  align-items: center;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
}
.nav__link {
  background-color: transparent;
  border-style: none;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-left: 33px;
  cursor: pointer;
}

.nav__link_to-home {
  width: 70px;
}

.nav__link_to-saved {
  width: 178px;
}

/* .nav__link_current {
  padding-top: 28px;
  padding-bottom: 25px;
  border-bottom: 3px solid;
} */

.nav__current-user {
  background-color: transparent;
  max-width: 320px;
  font-size: 18px;
  padding: 12px 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  border-radius: 100px;
  margin-left: 32px;
  cursor: pointer;
}
.nav__current-user_name {
  background-color: transparent;
  line-height: 24px;
  padding: 0;
  border-style: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  margin: 0;
  font-weight: 500;
}

.nav__current-user_name_signout {
  background-color: transparent;

  background-repeat: no-repeat;
  background-size: cover;
  padding: 12px;
  margin-left: 16px;
  border-style: none;
}

.nav__signin {
  background-color: transparent;
  margin-left: 34px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  padding: 12px 17px;
  width: 176px;
  border: 1px solid #fff;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
}

.nav_saved-news {
  box-shadow: 0px -1px 0px 0px #d1d2d6 inset;
}

.nav__sitename_link {
  text-decoration: none;
}

.nav__sitename_saved-news {
  color: #1a1b22;
}

.nav__link_saved-news {
  color: #1a1b22;
}

.nav__current-user_saved-news {
  border-color: #1a1b22;
}

.nav__current-user_name_saved-news {
  color: #1a1b22;
}

.nav__current-user_name_signout_saved-news {
  background-image: url(../../assets/logout-dark.svg);
}

.nav__link_current_saved-news {
  padding-top: 28px;
  padding-bottom: 25px;
  border-bottom: 3px solid;
  color: #1a1b22;
  border-color: #1a1b22;
}
/*  */

.nav__sitename_home {
  color: #fff;
}

.nav__link_home {
  color: #b6bcbf;
}

.nav__current-user_home {
  border-color: #fff;
}

.nav__current-user_name_home {
  color: #fff;
}

.nav__current-user_name_signout_home {
  background-image: url(../../assets/logout.svg);
}

.nav__link_current_home {
  padding-top: 28px;
  padding-bottom: 25px;
  border-bottom: 3px solid;
  color: #fff;
  border-color: #fff;
}
