.search-form {
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 608px;
  margin: 0 auto;
  padding: 80px 0;
}

.search-form__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Roboto-Slab", "Courier New", Courier, monospace;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
}

.search-form__description {
  margin-top: 0;
  margin-bottom: 88px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.search-form__search-bar {
  position: relative;
  display: flex;
}
.search-form__text-box {
  border-radius: 100px;
  border: 1px solid #d1d2d6;
  width: 376px;
  line-height: 22px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", Arial, sans-serif;
  padding: 21px 100px 21px 24px;
  box-shadow: 0px 5px 15px 0px #0e1a3933;
  caret-color: #2f71e5;
}

.search-form__text-box::placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #b6bcbf;
}

.search-form__text-box:focus {
  outline: none;
}

.search-form__btn {
  position: absolute;
  right: 0;
  width: 168px;
  height: 100%;
  background-color: #2f71e5;
  border-radius: 100px;
  border-style: none;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.2s linear 0;
}

.search-form__btn:hover {
  background-color: #347eff;
}

.search-form__btn:active {
  background-color: #2a65cc;
}

@media screen and (max-width: 768px) {
  .search-form {
    max-width: 452px;
    padding: 38px 0 48px;
  }
  .search-form__title {
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 40px;
  }
  .search-form__description {
    margin-bottom: 48px;
  }
  .search-form__text-box {
    width: 228px;
    padding: 17px 80px 17px 24px;
  }
  .search-form__btn {
    width: 160px;
  }
}

@media screen and (max-width: 575px) {
  .search-form {
    padding: 30px 0 32px;
    max-width: 288px;
    height: 100%;
  }
  .search-form__description {
    margin-bottom: 122px;
  }

  .search-form__search-bar {
    flex-direction: column;
    gap: 16px;
    position: static;

    align-items: center;
  }
  .search-form__text-box {
    min-width: 256px;
    padding: 17px 16px;
  }
  .search-form__btn {
    min-width: 288px;
    position: static;
    padding: 16px 116px;
  }
}
