.search-form {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 608px;
  margin: 80px auto;
}

.search-form__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Roboto-Slab", "Courier New", Courier, monospace;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
}

.search-form__description {
  margin-top: 0;
  margin-bottom: 88px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.search-form__search-bar {
  position: relative;
  display: flex;
}
.search-form__text-box {
  border-radius: 100px;
  border: 1px solid #d1d2d6;
  backdrop-filter: blur(8px);
  width: 559px;
  height: 22px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", Arial, sans-serif;
  padding: 21px 24px;
  box-shadow: 0px 5px 15px 0px #0e1a3933;
}

.search-form__text-box::placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #b6bcbf;
}

.search-form__btn {
  position: absolute;
  right: 0;
  width: 168px;
  height: 100%;
  background-color: #2f71e5;
  border-radius: 100px;
  border-style: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
  cursor: pointer;
}

.search-form__btn:hover {
  background-color: #347eff;
}

.search-form__btn:active {
  background-color: #2a65cc;
}
