.card {
  background-color: #fff;
  max-width: 400px;
  max-height: 576px;
  overflow: hidden;
  border-radius: 16px;
  position: relative;
}

.card__header {
  display: flex;
  padding: 24px;
  position: absolute;
  right: 0;
}

.card__keyword {
  background-color: #fff;
  border-radius: 10px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 8px 22px;
}

.card__save-btn_unchecked {
  border-style: none;
  background-color: #fff;
  background-image: url(../../assets/bookmark.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
